<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Vegefoods </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'components/_styles.html' %}

</head>
{% include 'components/_navbar.html' %}


{% block main %}
{% endblock main %}
{% include 'components/_footer.html' %}


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

{% include 'components/_scripts.html' %}


</body>
</html>